*{
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.conteudo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

p{
    font-family: cursive;
    font-size: 15px;
    text-align: center;
    width: 30vw;
    border: solid 3px rgb(4, 0, 255);
    border-radius: 40px;
    border-bottom:  solid 2px rgba(21, 21, 22, 0);
    border-top: solid 2px rgba(21, 21, 22, 0);
    
}

.foto{
    width: 100px;
}

.logos{
   width: 200px;
   height: 200px;
}